.button {
  display: inline-flex;
  flex-flow: row nowrap;
  align-items: center;
  // justify-content: space-evenly;
  text-align: center;

  padding: 0.5rem 0.75rem;
  gap: 0.5rem;

  background-color: var(--color-overlay);
  outline: 1px solid var(--color-overlay-4);
  border-radius: 0.5rem;

  cursor: pointer;
  transition: all 0.1s ease;

  &:hover {
    background-color: var(--color-overlay-3);
  }
  &:active:not([disabled]) {
    background-color: var(--color-overlay-8);
  }
  &[disabled] {
    cursor: default;
    opacity: 0.5;
    &:hover {
      background-color: var(--color-overlay);
    }
  }

  // font-size: 0.8rem;
  // overflow: hidden;

}
