.container {
  display: flex;
  flex-flow: column nowrap;
}
.wrapper {
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  padding: 0.5rem;
  gap: 0.5rem;
  border-radius: 1rem;
  background-color: var(--color-overlay);
}

.account {
  display: flex;
  flex-flow: row nowrap;
  gap: 0.25rem;
}

.avatar {
  height: 64px;
  width: 64px;
  border-radius: 50%;
  outline: 2px solid var(--color-overlay);
  pointer-events: none;
}
.buttons {
  display: flex;
  flex-flow: column-reverse nowrap;
  justify-content: space-between;

  > * {
    margin: -0.125rem 0;
  }
}
