.container {
  display: flex;
  flex-flow: column nowrap;
}
.wrapper {
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  padding: 0.5rem;
  gap: 0.5rem;
  border-radius: 1rem;
  background-color: var(--color-background);
}

.account {
  display: flex;
  flex-flow: row nowrap;
  gap: 0.25rem;
}

.buttons {
  display: flex;
  flex-flow: column-reverse nowrap;
  justify-content: space-between;

  > * {
    margin: -0.125rem 0;
  }
}
