.container {
  display: flex;
  flex-flow: column nowrap;
}
.wrapper {
  display: flex;
  flex-flow: column nowrap;
  padding: 0.5rem;
  gap: 0.5rem;

  min-width: 280px;
  max-width: 400px;
  border-radius: 1rem;
  background-color: var(--color-overlay);
}

.account {
  display: flex;
  flex-flow: row nowrap;
  gap: 0.5rem;
}

.avatar {
  height: 48px;
  width: 48px;
  border-radius: 50%;
  outline: 2px solid var(--color-overlay);
}
.info {
  flex-grow: 1;
  display: flex;
  flex-flow: column nowrap;
}

.signOut {
  align-self: flex-end;
}
