.container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.author-list {
  display: flex;
  flex-direction: column;
}
.author-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 0.75rem;
  border-radius: 32px;
}
.author {
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  align-items: center;

  outline: 1px solid var(--color-background-lighter);
  border-radius: 32px;
  width: auto;

  background-color: var(--color-background-darker);
  transition: background-color 0.2s ease;
  &:hover {
    background-color: var(--color-background-dark);
  }
}
.author-edit-controls {
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  height: 100%;
  align-self: stretch;
}
.add-author {
  margin-top: -0.5rem;
  margin-left: 14px;
  margin-right: 24px;
  border-radius: 32px;
}

.user-info {
  flex-grow: 1;
  display: flex;
  flex-flow: column nowrap;
  padding: 0.5rem;
  padding-left: 0;
  padding-right: 1rem;
  &.with-credits {
    padding-left: 0.5rem;
  }
}
.username {
  margin-left: 1rem;
  font-size: 1.2rem;
  color: var(--color-white);
  overflow-wrap: anywhere;
}
.credits {
  margin-left: 0.5rem;
  overflow-wrap: anywhere;
}
